/* * {
    padding 0;
    margin 0; */

    /* color: hsla(11, 100%, 50%, 0.3); */
}
/* body {
    background: url(../img/base.png) no-repeat;
    
}  */

ul{
    list-style-image:url(../img/apple_16.png);
    list-style-position:outside ;
}
ol {
    list-style-type:upper-alpha;
}

table,tr,td  {
    border: 1px solid black;
   }
    
table {
    
    table-layout: auto;
    } 
/* tr {
    height: 50px;
    vertical-align: middle;
    text-align: center;
}
td:hover{
    background-color: blueviolet;
}

tr:nth-child(odd) {
    background-color: yellowgreen;
} */

















a:link{
    color: blue;
}
a:visited {
    color: yellow;
}
a:hover {
    color: green;
    text-decoration: none;
}
a:active{
    color:red;
}
h2 {
    font: italic small-caps bold 12px georgia;
}

img {
    width: 10px;
    border-radius: 50%;
    vertical-align: bottom;
}
.p1 {
    color: red;
    white-space: nowrap;
 }
 .p2 {
  border: 1px dashed black;
} 

/* body {
    background: url(../img/base.png) no-repeat;
} */