* {
    padding 0;
    margin 0;

    /* color: hsla(11, 100%, 50%, 0.3); */
}
body {
    background: url(../img/base.png) no-repeat;
    background-size: contain;
}
/* .p1 {
    background-color: yellow;
    border: 10px dotted red;
    padding: 15px;
    background-clip: border-box;
} */

/* .p2 {
  border: 10px dashed black;
  padding: 25px;
  background: url(../img/base.png);
  background-repeat: no-repeat;
  background-position: 54% 9% ;
} */

/* body {
    background: url(../img/base.png) no-repeat;
} */